@import '../../styles/settings.scss';

.button {
    font-family: $font-main;
    background-color: $color-text-reverse;
    border-radius: 5%;
    padding: 15px;
    margin: 15px 10px;
    color: $color-text;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    border: $color-accent;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    cursor: pointer;
    text-align: center;

    :hover {
         border-color: $color-accent;
         color: $color-accent;
    }

    .onClick {
        background-color: $color-accent;
        color: $color-text-reverse;
    }
}
