@import '../../styles/settings.scss';

.addWineButton {
    background-color: $color-accent;
    border-radius: 5%;
    padding: 15px;
    color: $color-text-reverse;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.1em;

    a {    
        width: 100%;
        color: $color-text-reverse;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
    }

    span {
        font-size: 30px;
    }
}