@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Merienda+One&display=swap');
@import '../../../styles/settings.scss';


.logo {
    font-family: 'Mansalva';
    font-size: 30px;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    
    a {
        text-decoration: none;
        color: $color-text;
    }


    span {
        
        color: $color-text-light;
        text-decoration: line-through;
        font-weight: 400;
        font-size: 30px;

        span {
            color: $color-accent-dark;
            font-size: 50px;
        }
    }

}