@import '../../styles/settings.scss';

.buttonAddWine {
    margin-top: 30px;
    background-color: $color-accent;
    padding: 15px;
    color: $color-text-reverse;
    
    //letter-spacing: 0.1em;

    a {    
        width: 100%;
        color: $color-text-reverse;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        
    }

    span {
        font-size: 20px;
        padding: 0 10px;
        cursor: pointer;
    }
}