@import '../../../styles/settings.scss';

.addWineForm {
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        font-weight: 600;
        color: $color-brand;
        margin-bottom: 30px;
    }

    .wineParam {
        margin: 10px 10px;
        display: flex;
        flex: 1;
        align-items: baseline;
    }
    
    label {
        font-size: 14px;
        width: 30%;
    }

    


}