@import '../../../styles/settings.scss';

.wineCard {
    background-color: $color-cards;
    padding: 15px;
    display: flex;
    flex-direction: column;
    //box-shadow: $shadow-base;
    border-radius: $radius-base;
    

    h4 {
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .buttonsSection {
        display: flex;
        justify-content: space-between;
        margin: 0 40px;
    }


}

