@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

$font-main: Poppins, sans-serif;


//$color-brand: #ad2147;
$color-brand: #2a9678;
$color-accent-light: #d8ec8a;
$color-accent-dark: #5960b9;
$color-hover: #00543b;
$color-text: #374b43;
$color-text-light: #99b0a7;
$color-text-reverse: #eafef6;
$color-cards: #fff;

$radius-base: 15px;