@import '../../../styles/settings.scss';

.filtersList {
    box-shadow: $shadow-base;
    border-radius: $radius-base;
    padding: 30px;
    margin: 40px 0;

    h2 {
        margin: 0 0 30px;
    }

    @media only screen and (max-width: 480px) {
        box-shadow: none;
        
    }
}