@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Merienda+One&display=swap');
@import '../../styles/settings.scss';


.logo {
    font-family: 'Mansalva';
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 0.1em;
    
    a {
        text-decoration: none;
        color: $color-text;
    }


    span {
        text-transform: uppercase;
        color: $color-accent;
        font-weight: 700;
        font-size: 30px;
    }

}