@import '../../../styles/settings.scss';

.buttonlikeLink {
    
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    margin: 30px 0;
    border: none;
    box-shadow: $shadow-base;
    border-radius: $radius-base;
    cursor: pointer;

    @media only screen and (max-width: 480px) {
        box-shadow: none;
        border: 1px solid $color-brand;
    }

    

    &.basic {
        background-color: $color-brand;

        a {
            color: $color-text-reverse;
        }

        &.small {
    
            padding: 10px 20px;

            a {
                justify-content: center;
            }
            

            p {
                margin: 0;
                padding: 0 15px;
            }

        }
        
    }

    &.reverse {
        background-color: $color-cards;

        a {
            color: $color-brand;
        }
    }

    &.simple {
        box-shadow: none;
        background-color: $color-text-reverse;
        width: 50%;
        color: $color-text-light;

        p {
            margin: 0;
        }
    }


    a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        text-decoration: none;

       
    }
}