@import '../../../styles/settings.scss';

.accordionItem {
    background-color: $color-cards;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: 0px 4px 22px rgba(52, 53, 65, 0.15);
    border-radius: $radius-base;

    @media only screen and (max-width: 480px) {
        box-shadow: none;

    }
}

.accordionTitle {
    
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    

    h4 {

        font-size: 18px;
        margin: 15px;
       
    }
    
}

.accordionOpening {
    margin: 15px;
    cursor: pointer;
}

