@import '../../../styles/settings.scss';

.accordionItem {
    background-color: $color-cards;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    box-shadow: $shadow-base;
    border-radius: $radius-base;

    @media only screen and (max-width: 480px) {
        box-shadow: none;
        border: 1px solid $color-brand;
    }
}

.accordionTitle {
    display: flex;
    justify-content: space-between;
    

    h4 {

        font-size: 18px;
        margin: 15px;
       
    }
    
}

.accordionOpening {
    margin: 15px;
    cursor: pointer;
}

