@import '../../styles/settings.scss';

.filterCard {
    border-radius: 5%;
    background-color: $color-cards;
    margin: 10px 0;
    display: float;
    justify-content: space-between;
    cursor: pointer;

    h3 {
        padding: 15px;
        margin-bottom: 5px;
    }
    
}