@import '../../styles/settings.scss';

.filterCard {
    border-radius: 5%;
    background-color: $color-cards;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.filterCard__name {
    padding-left: 20px;
    font-size: 18px;
    font-weight: 600;

}

.filterCard button {
    margin-right: 10px;
    border: none;
    background-color: #edebeb;
    cursor: pointer;
    
}

.filterCard span {
    color: $color-text;
    font-size: 24px;
    width: 100%;
}