@import '../../../styles/settings.scss';

.filterCard {
    background-color: $color-cards;
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: $radius-base;

    .filterCard__label, .filterCard__select {
        flex: 1;
    }
    


    button {
        margin-right: 10px;
        border: none;
        background-color: #edebeb;
        cursor: pointer;
        
    }

    select {
        background-color: inherit;
        border-radius: $radius-base;
        border-color: $color-brand;
        width: 200px;
        height: 50px;
        padding: 0 20px;
        appearance: none;
        font-family: $font-main;
        font-size: 12px;

        @media only screen and (max-width: 480px) {
            width: 100%
        }
        
    }

    h2 {
        margin: 0;
    }

}

.filterCard__name {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;

}

