@import '../../../styles/settings.scss';

.textInput {
    height: 40px;
    width: 70%;

    input {
        height: 100%;
        border-color: $color-brand;
        border-radius: 24px;
        width: 100%;
        text-indent: 20px;
        font-family: $font-main;
    }
    
}
