@import '../../../styles/settings.scss';

.textInput {
    height: 40px;

    input {
        height: 100%;
        border-color: $color-brand;
        border-radius: 24px;
        width: 200px;
    }
    
}
