@import '../../styles/settings.scss';

.wineCard {
    border-radius: 5%;
    background-color: $color-cards;
    margin: 10px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    

    h4 {
        text-align: center;
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    section {
        display: inline-flex;
        align-items: center;
        margin-left: 15px;
        
    }

    p {
        margin-left: 20px;
        
    }

}

